<section class="bg-primary" id="about" style="min-height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-lg-12">
                    <h2 class="section-heading bold text-center">Beaches, brains, and a brainy community</h2>
                    <hr class="secondary-faded">
                    <p class="text-secondary-faded">What comes to mind when you hear “Australia”?  Is it kangaroos, koalas, the Great Barrier Reef, surfing and Pavlova, or perhaps sharks, crocodiles, deadly spiders, and snakes? You can now add another association to the list – OHBM Australian chapter.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="/img/logo_text.png" alt="Logo" class="confined-image" style="border-radius: 5%; padding: 1%;">
                </div>
                <div class="col-lg-12">
                    <p class="text-secondary-faded">The goal of the Australian Chapter is to unite and invigorate the neuroimaging community in Australia. Our members come from a variety of universities and research institutes around the country working in the fields of fundamental and clinical neuroscience. We aim to further promote scientific communication and outreach through organising lectures, colloquia, workshops, conferences, and social/networking events throughout Australia. We strive to maintain current and form new networks of regional and international collaborations across all disciplines of neuroscience and neuroimaging.</p>
                    <p class="text-secondary-faded">OHBM has once been hosted in Melbourne – in 2008. Our ambition is to welcome the OHBM community to Australia again in the next few years.</p>
                </div>
            </div>
        </div>
    </div>
</section>
