<section class="bg-secondary" id="aperture">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading bold text-muted">Aperture Neuro</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row aperture-row">
            <div class="col-lg-3 text-center aperture-logo">
                <a href="https://apertureneuro.org/" target="_blank" rel="noopener" title="Visit the Aperture Neuro website" data-toggle="tooltip" data-placement="top" data-delay='{"show":100,"hide":100}'>
                    <img class="img-responsive" src="/img/aperture-neuro-logo.png" alt="Aperture Neuro, the official open access journal of OHBM">
                </a>
            </div>
            <div class="col-lg-6">
                <p class="text-muted">Aperture Neuro is the official open access journal of the Organisation for Human Brain Mapping, dedicated to advancing our understanding of the brain, catalysing the dissemination of novel methods and tools, and increasing the impact of brain imaging and assessment on society.</p>
            </div>
            <div class="col-lg-3 text-center aperture-cta">
                <a href="https://apertureneuro.org/" target="_blank" rel="noopener" class="btn btn-primary btn-xl">
                    <i class="fa-solid fa-book-open-reader"></i>
                    &nbsp; Read &amp; publish
                </a>
            </div>
        </div>
    </div>
</section>