<section id="awards">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-dark">
                <p class="text-center text-primary"><i class="fa-solid fa-award fa-4x wow bounceIn" data-wow-delay=".3s"></i></p>
                <h2 class="h1 text-center text-primary">2025 Awards</h2>

                <br>
                <h2 class="h2 text-center text-secondary">🏆 OHBM Australia 2025 Awards! 🏆</h2>

                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="h5 text-left">We are thrilled to announce that applications are now open for the annual OHBM Australia awards, and we warmly encourage you to nominate yourself for consideration!</p>
                        <div style="text-align: center; margin: 20px; font-size: 12px;">
                            <a href="/posts/call-for-award-nominations-2025/" target="_blank" class="btn btn-secondary page-scroll">
                                <i class="fa-solid fa-star"></i>
                                &nbsp; Find out more &nbsp;
                                <i class="fa-solid fa-star"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <hr class="primary" style="padding: 10px;">

                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="h2"><i class="fa-solid fa-user-secret"></i> 2025 Emerging Leadership Award</p>
                        <br>
                        <p class="h4 text-primary text-left"><i class="fa-solid fa-circle-info"></i> Purpose:</p>
                        <p class="h5 text-left">The Emerging Leadership Award is established to honour and recognize early-to-mid-career (EMCR) researchers who have demonstrated exceptional independence, leadership, and a significant scientific contribution to the field of human brain mapping. This award aims to support researchers in advancing their careers while fostering innovation and collaboration within the scientific community.</p>
                        <div style="text-align: center; margin: 20px; font-size: 12px;">
                            <a href="/posts/2025-emerging-leadership-award/" target="_blank" class="btn btn-primary page-scroll">
                                <i class="fa-solid fa-award"></i>
                                &nbsp; Find out more!
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="h2"><i class="fa-solid fa-user-graduate"></i> 2025 Early Career Researcher Award</p>
                        <br>
                        <p class="h4 text-primary text-left"><i class="fa-solid fa-circle-info"></i> Purpose:</p>
                        <p class="h5 text-left">The Early Career Researcher Award is designed to support and recognize promising early-career researchers who have made noteworthy contributions to the field of human brain mapping. This award aims to advance the careers of emerging scientists by providing them with opportunities to further develop their research skills, gain recognition within the scientific community, and foster a collaborative research environment.</p>
                        <div style="text-align: center; margin: 20px; font-size: 12px;">
                            <a href="/posts/2025-early-career-researcher-award/" target="_blank" class="btn btn-primary page-scroll">
                                <i class="fa-solid fa-award"></i>
                                &nbsp; Find out more!
                            </a>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <hr class="primary" style="padding: 10px;">

                <br>
                <h2 class="h2 text-center text-secondary">🏆 Past Awardees 🏆</h2>

                <div class="col-lg-12">
                    <div class="text-center">
                        <div style="text-align: center; margin: 20px; font-size: 12px;">
                            <a href="/posts/2024-awards-announced/" target="_blank" class="btn btn-secondary page-scroll">
                                <i class="fa-solid fa-star"></i>
                                &nbsp; 2024 awardees &nbsp;
                                <i class="fa-solid fa-star"></i>
                            </a>
                        </div>
                    </div>
                </div>
            
            </div>

    </div>
</section>
