<section id="awards">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-dark">
                <p class="text-center text-primary"><i class="fa-solid fa-award fa-4x wow bounceIn" data-wow-delay=".3s"></i></p>
                <h2 class="h1 text-center text-primary">2024 Awards</h2>

                <hr class="primary">

                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="h2"><i class="fa-solid fa-user-secret"></i> 2024 Emerging Leadership Award</p>
                        <br>
                        <p class="h4 text-primary text-left"><i class="fa-solid fa-circle-info"></i> Purpose:</p>
                        <p class="h5 text-left">The Emerging Leadership Award is established to honour and recognize early-to-mid-career (EMCR) researchers who have demonstrated exceptional independence, leadership, and a significant scientific contribution to the field of human brain mapping. This award aims to support researchers in advancing their careers while fostering innovation and collaboration within the scientific community.</p>
                        <div style="text-align: center; margin: 20px; font-size: 12px;">
                            <a href="/posts/2024-emerging-leadership-award/" target="_blank" class="btn btn-primary page-scroll">
                                <i class="fa-solid fa-award"></i>
                                &nbsp; Find out more!
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="h2"><i class="fa-solid fa-user-graduate"></i> 2024 Early Career Researcher Award</p>
                        <br>
                        <p class="h4 text-primary text-left"><i class="fa-solid fa-circle-info"></i> Purpose:</p>
                        <p class="h5 text-left">The Early Career Researcher Award is designed to support and recognize promising early-career researchers who have made noteworthy contributions to the field of human brain mapping. This award aims to advance the careers of emerging scientists by providing them with opportunities to further develop their research skills, gain recognition within the scientific community, and foster a collaborative research environment.</p>
                        <div style="text-align: center; margin: 20px; font-size: 12px;">
                            <a href="/posts/2024-early-career-researcher-award/" target="_blank" class="btn btn-primary page-scroll">
                                <i class="fa-solid fa-award"></i>
                                &nbsp; Find out more!
                            </a>
                        </div>
                    </div>
                </div>
            
            </div>

    </div>
</section>
