<section id="membership" style="min-height: 45vh; padding-top: 50px;">
    <div class="container">
        <div class="row">
            <p class="text-muted"> Our Activities: </p>
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users-rectangle wow bounceIn text-primary"></i>
                    <h3>Annual meeting</h3>
                    <p class="text-muted"> Uniting Australian Researchers to Explore the Boundaries of Neuroscience </p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-person-chalkboard wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Webinars</h3>
                    <p class="text-muted"> Delving into the Latest Advances in Human Brain Mapping </p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-handshake-angle wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Mentoring</h3>
                    <p class="text-muted"> Empowering Tomorrow's Innovators through Mentorship from Leading Experts </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <hr class="primary">
                <div class="col-lg-6 text-center">
                    <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageid=3852" target="blank" class="btn btn-primary btn-xl page-scroll">
                        <i class="fa-solid fa-star"></i>
                        &nbsp; Find Out More...
                    </a>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-7hOgdWB0sMSFNMZ73SJAOtrvaxEBjzg0EGiBoJorPyxWjg/viewform" target="blank" class="btn btn-primary btn-xl page-scroll">
                        <i class="fa-solid fa-user-plus"></i>
                        &nbsp; Become a member!
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
