<section id="postcontent" style="min-height: 80vh; padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-lg-12">
                    <h2 class="section-heading bold text-center">{{ page.title }}</h2>
                    <hr class="primary-faded">
                    <p class="text-primary" style="font-size: 12px;">Posted on {{ page.date | date: "%B %d, %Y" }}</p>
                </div>
                <div class="col-lg-12 content">
                    {{ content | markdownify }}
                </div>
            </div>
        </div>
    </div>
</section>
